@{
  ViewData["Title"] = $"Details for {Model.Name}";
}

<h1>All About @Model.Name</h1>

<p>Breed: @Model.Breed</p>
<p>Age: @Model.Age</p>



<p>@Html.ActionLink("Edit details", "Edit", new { id = @Model.CatId })</p>
@Html.ActionLink("Return to all cats", "Index")