@{
  ViewData["Title"] = $"Edit {Model.Name}";
}

@model AnimalShelterClient.Models.Cat

<h4>Edit @Model.Name</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.CatId)
  @Html.TextBoxFor(model => model.Name, new { @Value = Model.Name, style = "text-align: center;"})
  <br>
  @Html.TextBoxFor(model => model.Breed, new { @Value = Model.Breed, style = "text-align: center;"})
  <br>
  @Html.TextBoxFor(model => model.Age, new { Value = Model.Age, style = "text-align: center;"})
  <br>
  <br>
  <input type="submit" value="Edit" class="btn btn-primary"/>
}

<br>
<p>@Html.ActionLink("Back to details", "Details", new {id = @Model.CatId})</p>